body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: #fff;

}

header {
    background-color: #333;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.logo h1 {
    margin: 0;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin: 10px 0;
}

select,
button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

button {
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1c87c9;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}